*{
    padding: 0px 0px;
    margin: 0px;
}
#navbar{
    background-color: rgb(51, 218, 162);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222;
}
h2{
    font-family: Helvetica, sans-serif;
    margin-left: 20px;
    color: rgb(59, 59, 59);
}

#navbar ul{
    display: flex;
    justify-content: end;
}
#navbar ul li{
    list-style: none;
    margin: 5px 10px;
    padding: 10px;
}
#navbar ul li a{
    text-decoration: none;
    color: #222;
}
h1{
    text-align: center;
    color: #222;
    font-family: Helvetica, sans-serif;
    margin-top: 25px;

}
.form-create-task{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    width: 500px;
}
.form-control input{
    height: 30px;
    border: 1px solid rgba(90, 89, 89, 0.39);
    border-radius: 6px;
    padding: 5px;
    outline: 0;
}
.form-control label{
    font-size: 16px;
    font-family: sans-serif;
    margin: 10px 0;

}
.btn-submit{
    padding: 10px 20px ;
    text-align: center;
    margin-top: 15px;
    border: 2px solid rgb(51, 218, 162);
    color: rgb(51, 218, 162);
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    width: 200px;
}

.btn-submit:hover{
    background-color: rgb(51, 218, 162);
    color: #222;
}

.text-desc{
    height: 100px;
}

.task-list{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    margin: 20px;
}
i{
    margin: 0px 5px;
}

.task-list li{
    list-style: none;
    display: flex;
    padding: 15px 10px;
    border: 1px solid rgb(51, 218, 162);
    width: 500px;
    margin: 10px;
    border-radius: 6px;
    justify-content: space-between;

}


.task-list a{
    text-decoration: none;
    color: #222;
}
.actions{
    display: flex;
}
.actions form{
    margin: 0;
}
.actions button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
p{
    text-align: center;
}